<div class="bl-header">
	<div class="bl-header-message">
		<span class="name">胡银，<a>退出</a></span>
		<s>|</s>	
		<a class="link">帮助中心</a>
		<s>|</s>		
		客服投诉热线 40020000
	</div>
	<div class="bl-header-tab">
		<div class="bl-header-tab-bar"></div>
		<a href="" class="link select">系统管理</a>
		<a href="" class="link">业务管理</a>
		<a href="" class="link">营销推广</a>
		<a href="" class="link">会员营销</a>
		<a href="" class="link">数据分析</a>
	</div>
</div>