@import "icon";
@import "tobe/components/form/form";
@import "tobe/components/date/date";
@import "tobe/components/select/select";
@import "tobe/components/checkbox/checkbox";
@import "tobe/components/radio/radio";
@import "tobe/components/file/file";
.j-calendar-line span{
	box-sizing:border-box;
}
.bl-select-show-left{
	width:115px;
}
.bl-select-show-left-1 ul li{
	width:150px;
}