{{#if footerbottom}}
	<div class="footer">《中华人民共和国电信与信息服务业务经营许可证》编号：沪ICP备05015800号 2.21<br>版权:百联全渠道跨境有限公司</div>
{{else}}
	<div class="bl-layout-footer" style="text-align: center;">©2017 i百联产品设计部出品</div>
{{/if}}
{{#each gl.scripts}}
	<script src="{{this}}"></script>
{{/each}}
<script type="text/javascript" data-main="{{gl.require}}" src="js/require.min.js"></script>