<div class="bl-transfer">
	<div class="bl-transfer-list">
		<div class="bl-transfer-list-header">
			{{#checkbox1}}
				{{> checkbox/checkbox}}
			{{/checkbox1}}
			<div class="bl-transfer-list-title">{{name1}}</div>
		</div>
		<div class="bl-transfer-list-search">
			{{#input}}
				{{> input/input}}
			{{/input}}
		</div>
		<div class="bl-transfer-body">
			<div class="bl-transfer-list-floor j-transfer-province">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
				<i class="blicon blicon-show"></i> 	
			</div>
			<div class="bl-transfer-list-floor j-transfer-city">
				{{#check1}}
					{{> checkbox/checkbox}}
				{{/check1}}
				<i class="blicon blicon-show"></i> 	
			</div>
			<div class="bl-transfer-list-floor j-transfer-area">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
				<i class="blicon blicon-show"></i> 	
			</div>
			<div class="bl-transfer-list-floor j-transfer-shop">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
			</div>
			<div class="bl-transfer-list-floor j-transfer-shop">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
			</div>
			<div class="bl-transfer-list-floor j-transfer-shop">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
			</div>
			<div class="bl-transfer-list-floor j-transfer-shop">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
			</div>
			<div class="bl-transfer-list-floor j-transfer-shop">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
			</div>
			<div class="bl-transfer-list-floor j-transfer-shop">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
			</div>
			<div class="bl-transfer-list-floor j-transfer-shop">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
			</div>
			<div class="bl-transfer-list-floor j-transfer-shop">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
			</div>
			<div class="bl-transfer-list-floor j-transfer-shop">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
			</div>
			<div class="bl-transfer-list-floor j-transfer-shop">
				{{#check}}
					{{> checkbox/checkbox}}
				{{/check}}
			</div>
		</div>
	</div>
	<div class="bl-transfer-arrow">
		<button id='j-transfer-buttonL' class="bl-btn bl-btn-primary"><i class="blicon blicon-show"></i></button>
		<button id='j-transfer-buttonR' class="bl-btn bl-btn-primary"><i class="blicon blicon-show"></i></button>
	</div>
	<div class="bl-transfer-list">
		<div class="bl-transfer-list-header">
			{{#checkbox2}}
				{{> checkbox/checkbox}}
			{{/checkbox2}}
			<div class="bl-transfer-list-title">{{name2}}</div>
			<div class="bl-transfer-body"></div>
		</div>
	</div>
</div>