<ul class="bl-pagination {{class}}" unselectable="unselectable">
    <li class="bl-pagination-disabled bl-pagination-prev"><a></a></li>
    <li title="1" class="bl-pagination-item bl-pagination-item-active"><a>1</a></li>
    <li title="2" class="bl-pagination-item"><a>2</a></li>
    <li title="3" class="bl-pagination-item"><a>3</a></li>
    <li title="4" class="bl-pagination-item"><a>4</a></li>
    <li title="5" class="bl-pagination-item"><a>5</a></li>
    <li class="bl-pagination-next"><a></a></li>
</ul>