<div class="bl-crumbs">
	{{#each title}}
		<span class="bl-crumbs-title"><a href="" title="{{this}}">{{this}}</a></span>
	{{/each}}
	{{#each name}}
		<span class="bl-crumbs-name"><a href="" title="{{this}}">{{this}}</a></span>
	{{/each}}
</div>